<!DOCTYPE html>

html(lang="en")
head
    meta(charset="UTF-8")
    title=title
    script(src="https://aframe.io/releases/0.9.1/aframe.min.js")
    script(src="js/arrow.js")
body
    a-scene
        a-entity(arrow="" position="0 1.6 -3")
        a-sky(color="#888")

// 색 - 파란색 or 진회색
// 몸통 두껍게
// 화살표 머리