doctype html
html
    head
        title=title
        meta(name="viewport" content="initial-scale=1.0")
        meta(charset="utf-8")
        // Always set the map height explicitly to define the size of the div
            element that contains the map.
        style().
            #map {
                height: 100%;
            }

            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        //Optional: Makes the sample page fill the window.
        body
            div(id="map")
        script(src="js/map.js")
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src="https://maps.googleapis.com/maps/api/js?key=APIkey&callback=initMap"
            async defer)
